* {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  display: flex;
    justify-content: space-between;
    flex-direction: col;
}

.banner > div {
  padding: 45px;
}

.navbar {
    display: flex;
    flex-direction: col;
  }

.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5px;
}

.banner h3 {
  color: #2b2d2f;
}

a:link {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

.content img {
  object-fit: contain;
  margin-bottom: 20px;
  height: 60vh;
}

.content h4 {
  font-size: 1.5em;
  margin: 10px 0;
}

.content > .content_text {
  display: flex;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: lightgray;
  line-height: 2em;
}