* {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  display: flex;
    justify-content: space-between;
    flex-direction: col;
}

.banner > div {
  padding: 45px;
}

.navbar {
    display: flex;
    flex-direction: col;
  }

.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5px;
}

.banner h3 {
  color: #2b2d2f;
}

a:link {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

.content img.tall {
  object-fit: contain;
  margin-bottom: 20px;
  height: 350px;
}

.content img.wide {
  object-fit: contain;
  margin-bottom: 20px;
  max-width: 100%;
}

.content h4 {
  font-size: 1.5em;
  margin: 10px 0;
}

.content > .content_text {
  display: flex;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: lightgray;
  line-height: 2em;
}

.content_text > .rows {
  display: flex;
  flex-direction: column;
}

.image-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-text-container > img {
  max-width: 20%;
  height: auto;
  margin: 20px;
}

.image-text-container h3 {
  margin: 0;
}

.image-text-container > pa {
  padding: 20px;
  align-items: center;
}

li {
  list-style-type: none;
  margin-top: 5px;
  margin-right: 5px;
  background-color: lightgray;
  display: inline-block;
  font-size: 0.85em;
  text-align: left;
  padding: 8px 14px;
  border-radius: 20px;
}

.links {
  display: flex;
  justify-content: center;
  margin: 12px;
}

th {
  margin-top: 5px;
  margin-right: 5px;
  background-color: lightgray;
  display: inline-block;
  font-size: 0.85em;
  text-align: left;
  padding: 8px 10px;
  border-radius: 20px;
}

th > a:link {
  color: #2b2d2f;
}

th > a:visited {
  color: #2b2d2f;
}

th:hover {
  transform: scale(1.1);
}
